*{
  margin: 0px;
  padding: 0px;
}

body{
  background: #F7F7F7;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
}

p{
  font-size: 1.25rem;
  line-height: 1.6;
}

h1{
  font-size: 1.6rem;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

header{
  display: grid;
  justify-items: center;
  gap: 3.75rem;
}

.imginicio{
  margin-top: 3.75rem;
}

.menu{
  display: flex;
  gap: 1.87rem;
  justify-content: center;
  margin-bottom: 3.13rem;
}

.menu a{
  display: block;
  color: black;
  border-radius: 5px;
  padding: 0.93rem 1.87rem;
  background-color: #FFFFFF;
}

.menu a:hover{
  outline: 2px solid #EE2211;
}

main{
  display: grid;
  max-width: 1000px;
  justify-content: center;
}

 .bike {
  max-width: 100%;
  min-width: 360px;
  display: block;
}


.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

article::before{
  content: '';
  width: 3.75rem;
  height: 4px;
  background-color: #EE2211;
  position: absolute;
  top:35px;
  right: -30px;
}

article{
  display: grid;
  text-align: right;
  padding: 2.5rem;
  background-color: white;
  align-content: center;
  justify-items: end;
  gap:1.87rem;
  position: relative;
}

article > a{
  background-color: #EE2211;
  border-radius: 5px;
  padding: 1rem 2rem;
  justify-items: center;
  color: white;
}

article > a:hover{
  background-color: #85150b ;
}

.subtitulo {
  display: grid;
  font-size: 4rem;
  text-transform: uppercase;
  color: #C6C6C6;
  align-self: center;
  text-align: end;
  padding: 2.5rem;
  background-image: url(../img/onda.svg);
}

.vantagens{
  background-color: white;
  padding: 2.5rem;
}

.vantagens-item{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.63rem 1.87rem;
  border-bottom: 4px solid transparent;
  padding: 1.87rem;
  border-radius: 0.63rem;
  margin: 1.87rem;
}

.vantagens-item p {
  grid-column: 2;
}

.vantagens-item:nth-child(odd){
  background-color: #F7F7F7;
}

.vantagens-item:hover {
  border-color: #e21;
}

footer{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.644);
  width: 100%;
  padding: 2.5rem;
  box-sizing: border-box;
  margin-top: 3.75rem;
}

/* RESPONSIVIDADE MOBILE */

@media (max-width: 600px){
  body{
    display: grid;
    justify-content: center;  
  }
  p{
  font-size: 0.9rem;
  line-height: 1.2;
}

h1{
  font-size: 1.2rem;
}

.menu > a {
  font-size: 1rem;
}

article::before{
  content: none;
}

.grid{
  display: grid;
  grid-template-columns: 1fr;
}

.menu{
  gap: 0.2rem;
}

.menu a{
  padding: 6px 10px;
  font-size: 0.8rem;
}

.subtitulo {
  text-align: center;
  font-size: 2.2rem;
}

article{
  justify-items: center;
  text-align: center;
}
}

@media (max-width: 1000px){
  .grid{
    grid-template-columns: 1fr;
    justify-content: center;
  }

  body{
    display: grid;
    justify-content: center;  
  }

  article::before{
  content: none;
}

article{
  justify-items: center;
  text-align: center;
}

.subtitulo {
  text-align: center;
  font-size: 3rem;
  margin-top: 60px;
}
}